body {
    background-image: url(../images/papyrus-dark.png);
    font-family: fantasy;
    text-transform: uppercase;
    width: 900px;
    height: 900px;
    margin: auto;
    color: teal;
}
.title{
    text-align: center;
}
.songName{
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
}
.songImg{
    margin-left: 20px;
    margin-top: 20px;
    height: 600px;
}
.game-text{
    
    margin-top: 60px;
    text-align: center;
    font-size: 20px;
}
.row1{
    margin-top: 20px;
    margin-bottom: 40px;
}
.row2{
    border-bottom: dashed 2px teal;
    border-top: dashed 2px teal;
    padding-top: 15px;
    margin-bottom: 5px;
}

